{% extends 'base.html.twig' %}

{% block title %}Edit task{% endblock %}

{% block body %}
<h1>Edit task</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">Save</button>
{{ form_end(form) }}

<a href="{{ path('app_task_index') }}">Back to list</a>
{% endblock %}
