{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="d-grid mt-4">
    <button class="btn btn-primary btn-lg">
        💾 Save
    </button>
</div>

{{ form_end(form) }}
