{% extends 'base.html.twig' %}

{% block title %}New Workspace{% endblock %}

{% block body %}
<h1>Create Workspace</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn btn-success">Create</button>
{{ form_end(form) }}

<a href="{{ path('app_workspace_index') }}">Back</a>
{% endblock %}
